h1{
    color: red;
    background-color: black;
    padding: 20px;
    margin: 0;
}
ul{
    display: flex;
    justify-content: space-evenly;
    border: 3px solid red;
}
ul > li {
    list-style: none;
    padding: 30px;
}   
a{
    color: white;
    text-decoration: none;
    
}

li:hover{
    transform: rotate(-40deg);
}
a:hover{
    font-weight: bold;
    border: 2px solid white;
    background-color: white;
    color: red;
}
